# IDE specific
.vscode/.history/*
test*.*
tmp/

# Ignore build folder
build/

# Ignore UI folder, this should be commited in its own repository
ui/

# Ignore all dot folders, with below exceptions
.*/

# VSCode
!.vscode/
!.vscode/*

# Runtime files
*.jpg
*.txt
*.raw
*.bin